table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.25rem;
}

th, td {
    padding: 10px 16px;
}

th {
    text-align: left;
}

li {
    font-size: 1.25rem;
    line-height: 1.8;
}