<h1>Recent Critical Events</h1>

<table>
    <thead>
        <tr>
            <th>Level</th>
            <th>Asset</th>
            <th>Message</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for(alarm of alarms; track alarm.AssetName) {
            <tr>
                <td>{{ alarm.Severity }}</td>
                <td>{{ alarm.AssetName }}</td>
                <td>{{ alarm.Message }}</td>
                <td>{{ alarm.Time }}</td>
                <td>{{ alarm.Status }}</td>
            </tr>
        }
    </tbody>
</table>
