<div class="container">
    <div>
        <h1>Alarm Trend (Last 30 Days)</h1>
        <div class="chart-wrapper">
            <canvas baseChart [data]="lineChartData()" [options]="lineChartOptions" [type]="'line'">
            </canvas>
            <p>Last 30 Days</p>
        </div>
    </div>
    <div>
        <h1>Top Alarm Sources</h1>
        <ul>
            @for(source of alarmSources(); track source.Name) {
                <li>{{ source.Name }}<span>{{ source.Percentage }}%</span></li>
            }
        </ul>
    </div>
</div>