<div class="container">
    <div>
        <h1>Alarm Trend (Last 30 Days)</h1>
        <div style="height:900px;">
            <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'">
            </canvas>
            <p>Last 30 Days</p>
        </div>
    </div>
    <div>
        <h1>Top Alarm Sources</h1>
        <ul>
            <li>Conveyor A-12<span>20%</span></li>
            <li>Robot Cell 5<span>19%</span></li>
            <li>Packaging Line<span>15%</span></li>
        </ul>
    </div>
</div>