:host {
    display: block;
}

.header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
}

.container p {
    margin: 0px;
    font-size: 4rem;
    font-weight: 700;
    font-variant-numeric: tabular-nums;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.18);
}

div.header {
    flex: 0 0 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    /* Dark teal */
    background-color: #176b68;
    color: white;
    font-size: 20px;
}

div.container {
    padding: 10px;
}