app-kip-cards {
    flex: 1;
    margin: 15px;
}

.kpis {
    display:flex;
    gap: 20px;
    flex-direction: row;
    align-items: stretch;

}

.alarms { 
    display: flex;
    flex-direction: column;
}